$brand: #474544;
$brand-color:#F5D6A6;
$nav-color: #9F9692;
$dark-brand: #303939;
$h1: #66625E;
$all-para: #C6BAB4;
$my-experience: #843A34;
$my-education: #A07F1C;
$visit-my-office: #514024;
$orange: #EC643B;
$padding: 0 1.4rem;