@import "reset";
@import "vars";
@import "general";
@import "css-grid";
body {
    font-family: 'Archivo', sans-serif;
    position: relative;
}

header {
    position: absolute;
    width: 95%;
}

.nav-bar {
    padding: 1rem 0;
    .bars,
    .checkbox {
        display: none;
    }
    li {
        margin-left: 1.9rem;
        font-size: 0.89rem;
        a {
            color: $nav-color;
        }
        .home {
            color: $brand-color;
        }
    }
    .logo {
        font-size: 1.77rem;
        font-weight: 550;
        color: $brand;
    }
}

.section-of-my-website {
    height: 100vh;
    figure {
        grid-column: span 2;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .my-website {
        grid-column: span 2;
        background-color: #F5E2D6;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.4rem;
        h1 {
            font-size: 2rem;
            font-weight: 200;
            margin: 0.8rem 0;
            span {
                font-weight: 500;
            }
            color: $h1;
        }
        p {
            color: $all-para;
            font-size: 0.88rem;
            line-height: 1.5rem;
        }
        p:last-of-type {
            margin: 1rem 0;
        }
        button {
            place-self: start;
        }
    }
}

.donec-article {
    padding: 2rem;
    grid-column: span 2;
    h2 {
        font-size: 1.5rem;
        font-weight: 250;
    }
    .yellow-para {
        color: #F8E6C8;
    }
    p {
        color: $all-para;
        font-size: 0.89rem;
        line-height: 1.5rem;
        margin-top: 1rem;
    }
}

.donec-section {
    .about-img {
        object-fit: cover;
    }
    .skill-column {
        padding: 2rem;
        background-color: #ECAE4F;
        h3 {
            color: white;
            font-size: 2rem;
            font-weight: 250;
        }
        .inline-block {
            color: white;
            font-size: 0.88rem;
            font-weight: 200;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .each-skill {
            margin: 0.99rem 0;
            h5 {
                border-bottom: 2px solid black;
                width: 90%;
                padding-bottom: 10px;
                font-size: 0.88rem;
            }
            span {
                border-bottom: 1px solid white;
                color: white;
            }
        }
    }
}

.interface-design {
    display: grid;
    place-items: center;
    background-color: #ECAE4F;
    padding: 2rem;
    color: white;
    i {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 1.7rem;
        font-weight: 200;
        margin: 1.4rem;
    }
    p {
        font-weight: 220;
        line-height: 1.5;
        font-size: 0.78rem;
    }
}

.media {
    background-color: $orange;
}

.mobile-app {
    background-color: black;
}

.coding {
    background-color: white;
    color: black;
}

.orange-bg {
    background-color: $orange;
}

.my-experiences {
    grid-template-rows: repeat( 1, 350px);
    .experience-img {
        grid-column: span 2;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .experience {
        padding: 2rem;
        background-color: #ECAE4F;
        grid-column: span 2;
        color: white;
        h3 {
            font-size: 2rem;
            font-weight: 200;
        }
        h4 {
            font-size: 1.5rem;
            font-weight: 200;
            margin-bottom: 0.77rem;
            span {
                color: #8D3D36;
                font-size: 0.78rem;
                font-weight: bold;
            }
        }
        .inline-block {
            font-size: 0.88rem;
            margin: 1.3rem 0;
        }
        .fa-laptop {
            font-size: 1.8rem;
            font-weight: bold;
            margin-right: 0.88rem;
        }
    }
    .list-of-experiences {
        margin: 2rem 0;
    }
}

.my-experiences {
    .orange-bg {
        background-color: $orange;
    }
}

.orange-bg {
    background-color: $orange;
}

.contact-section {
    .form {
        grid-column: span 2;
    }
    .person-img {
        grid-column: span 1;
        width: 100%;
    }
    .contact {
        background-color: black;
        grid-column: span 1;
        color: white;
    }
}

.contact-section {
    input,
    textarea {
        display: block;
        border: none;
        border-bottom: 1px solid #ECAE4F;
        background-color: transparent;
        color: white;
        outline: transparent;
        margin: 1rem 0;
        width: 100%;
    }
     ::placeholder {
        color: white;
    }
    .form {
        color: white;
        padding: 2rem;
        h3 {
            font-size: 2rem;
            font-weight: 200;
        }
        p {
            font-size: 0.88rem;
            font-weight: 200;
            margin: 1rem 0;
        }
    }
    .person-img {
        object-fit: cover;
    }
    .contact {
        padding: 2rem;
        h4 {
            font-size: 1.3rem;
            font-weight: 200;
        }
        p {
            color: #3B3B3B;
            font-size: 0.89rem;
            margin: 1rem 0;
        }
        h6 {
            font-size: 1.22rem;
            margin-bottom: 0.8rem;
            font-weight: 150;
        }
        i {
            color: #808080;
            margin-right: 0.78rem;
        }
        .details {
            margin: 1rem 0;
            span {
                color: #3B3B3B;
            }
        }
    }
    iframe {
        grid-column: span 4;
        width: 80%;
        place-self: center;
        padding: 2rem 0;
    }
}

footer {
    color: #9B9A9B;
    padding: 5rem 0;
    small {
        margin: 1rem;
        display: block;
        .yellow {
            color: #ECAE4F;
        }
    }
    i {
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}

@media screen and(max-width:768px) {
    html {
        font-size: 13px;
    }
    header {
        background-color: white;
    }
    .nav-bar .bars {
        display: inline-block;
        z-index: 9999999;
    }
    .checkbox~.flex {
        display: none;
    }
    .checkbox:checked~.flex {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 999999;
        top: 1rem;
        padding: 1.5rem;
        border-radius: 1rem;
        background-color: #ECAE4F;
        right: 0.88rem;
        li {
            margin: 1rem 0;
        }
    }
    .container-grid {
        grid-template-columns: repeat(1, 100%);
    }
    .donec-article {
        grid-column: inherit;
    }
    .orange-bg {
        grid-template-columns: repeat(1, 100%);
        .form {
            padding: 2rem;
        }
        .contact {
            grid-column: span 2;
        }
    }
}